In [13]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db

!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in e:\miniconda\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db in e:\miniconda\lib\site-packages (3.1.3)
Requirement already satisfied: ipython-sql in e:\miniconda\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in e:\miniconda\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in e:\miniconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in e:\miniconda\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in e:\miniconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in e:\miniconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in e:\miniconda\lib\site-packages (from ipython-sql) (8.4.0)
Requirement already satisfied: backcall in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.30)
Requirement already satisfied: pygments>=2.4.0 in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: stack-data in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.3.0)
Requirement already satisfied: traitlets>=5 in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.3.0)
Requirement already satisfied: decorator in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.2)
Requirement already satisfied: colorama in e:\miniconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in e:\miniconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in e:\miniconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in e:\miniconda\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in e:\miniconda\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.9.1)
Requirement already satisfied: asttokens in e:\miniconda\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%sql ibm_db_sa://lgx03166:EejaREON6L8GiLDW@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb?security=SSL

In [20]:
%sql SELECT UNIQUE(LAUNCH_SITE) FROM SPACEXTB;

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [21]:
%sql SELECT LAUNCH_SITE FROM SPACEXTB WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5;

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

In [22]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS TOTAL_PAYLOAD_MASS FROM SPACEXTB WHERE CUSTOMER = 'NASA (CRS)';

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[(158795,)]

In [25]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS AVERAGE_PAYLOAD_MASS FROM SPACEXTB WHERE BOOSTER_VERSION = 'F9 v1.1';

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[(3053,)]

In [26]:
%sql SELECT MIN(DATE) AS FIRST_SUCCESSFUL_GROUND_LANDING FROM SPACEXTB \
    WHERE LANDING__OUTCOME = 'Success (ground pad)';

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[(datetime.date(2015, 12, 22),)]

In [27]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTB \
    WHERE (LANDING__OUTCOME = 'Success (drone ship)') AND (PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000);

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[('F9 FT B1022',),
 ('F9 FT  B1031.2',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT  B1021.2',),
 ('F9 FT  B1031.2',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT  B1021.2',),
 ('F9 FT  B1031.2',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT  B1021.2',),
 ('F9 FT  B1031.2',)]

In [29]:
%sql SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) AS TOTAL_NUMBER FROM SPACEXTB GROUP BY MISSION_OUTCOME

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[('Failure (in flight)', 3),
 ('Success', 341),
 ('Success (payload status unclear)', 4)]

In [30]:
%sql SELECT DISTINCT(BOOSTER_VERSION) FROM SPACEXTB \
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTB);

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',)]

In [31]:
%sql SELECT BOOSTER_VERSION, LAUNCH_SITE FROM SPACEXTB \
    WHERE (LANDING__OUTCOME = 'Failure (drone ship)') AND (EXTRACT(YEAR FROM DATE) = '2015');

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[('F9 v1.1 B1012', 'CCAFS LC-40'),
 ('F9 v1.1 B1012', 'CCAFS LC-40'),
 ('F9 v1.1 B1015', 'CCAFS LC-40'),
 ('F9 v1.1 B1012', 'CCAFS LC-40'),
 ('F9 v1.1 B1015', 'CCAFS LC-40'),
 ('F9 v1.1 B1012', 'CCAFS LC-40'),
 ('F9 v1.1 B1015', 'CCAFS LC-40')]

In [32]:
%sql SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) AS TOTAL_NUMBER FROM SPACEXTB \
    WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' \
    GROUP BY LANDING__OUTCOME \
    ORDER BY TOTAL_NUMBER DESC;

 * ibm_db_sa://lgx03166:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/bludb
Done.

[('No attempt', 37),
 ('Failure (drone ship)', 17),
 ('Success (drone ship)', 17),
 ('Success (ground pad)', 11),
 ('Controlled (ocean)', 10),
 ('Failure (parachute)', 7),
 ('Uncontrolled (ocean)', 6),
 ('Precluded (drone ship)', 3)]